/*Common*/
html{
    height: 100%;
}

body{
    height: 100%;
    font-size: 67.5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(163, 163, 163);
    padding: 0;
    margin: 0;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
}

.contentWrapper{
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 3.0em;
    position: relative;
}

.left{
    float: left;
}

.right{
    float: right;
}

/*Header*/
header{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 190px;
    background: black;
    border-bottom: 4px solid white;
}

#homeLogo{
    max-width: 157px;
    margin: auto;
    padding: 1.5em 0 0 0;
}

#headerInfo{
    position: absolute;
    max-width: 200px;
    top: 0;
    right: 5.5em;
}

#headerInfo ul{
    list-style: none;
}

#headerInfo li{
    display: inline-block
}

header input{
    color: #e86f16;
    font-size: 25px;
    background: transparent;
    border: hidden;
    text-align: right;
    position: absolute;
    right: 1.0em;
    top: 6.3em;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input:focus, textarea:focus, select:focus{
    outline: none;
}

header input::placeholder{
    color: #e86f16;
    opacity: 0.75;
}

/*Nav Bars*/

/*Sidebar Section*/

section#sidebar{
    width: 300px;
    height: 100vh;
    float: left;
    position: absolute;
    display: block;
    background-color: black;
    border: solid 4px white;
    border-radius: 10px;
    margin: 1.5em 0 3.0em 1.5em;
    z-index: 1;
}

#sidebar ul{
    list-style: none;
    color: #e86f16;
    text-align: right;
    font-size: 30px;
    margin-right: 0.5em;
}

#sidebar a, a:visited{
    color: #e86f16;
    text-decoration: none; 
}

#sidebar a:hover{
    color: white;
    text-decoration: underline;
}

#mail{
    background-color: #e86f16;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 2px solid white;
}

#mail h3{
    color: white;
    text-decoration: underline;
    font-weight: bold;
    font-size: 15px;
}

#mail input[type=text], input[type=email]{
    margin: auto;
    font-weight: bold;
    border: solid 2px black;
    font-size: 16px;
    border-radius: 8px;
}

#mail button{
    margin: 0 0 7px 0;
    font-weight: bold;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}

/* Main Section */

.imageSlider{
    margin: 1.5em 0 0 33em;
    width: 838px;
    height: 475px;
    overflow: hidden;
    border: 4px solid white;
    display: block;
    background: white;
    border-radius: 10px;
}

.sliderImages{
    width: 5500px;
    height: 475px;
    overflow: hidden;
    animation: slide 30s infinite;
    -moz-animation: slide 30s infinite;
    -webkit-animation: slide 30s infinite;
    -o-animation: slide 30s infinite;
}

@keyframes slide{
	0%{margin-left: 0px;}
	13%{margin-left: 0px;}
	25%{margin-left: -840px;}
	38%{margin-left: -840px;}
	50%{margin-left: -1682px;}
	63%{margin-left: -1682px;}
	75%{margin-left: -2522px;}
	88%{margin-left: -2522px;}
	100%{margin-left: 0px;}
}

@-moz-keyframes slide{
	0%{margin-left: 0px;}
	13%{margin-left: 0px;}
	25%{margin-left: -840px;}
	38%{margin-left: -840px;}
	50%{margin-left: -1682px;}
	63%{margin-left: -1682px;}
	75%{margin-left: -2522px;}
	88%{margin-left: -2522px;}
	100%{margin-left: 0px;}
}
@-webkit-keyframes slide{
	0%{margin-left: 0px;}
	13%{margin-left: 0px;}
	25%{margin-left: -840px;}
	38%{margin-left: -840px;}
	50%{margin-left: -1682px;}
	63%{margin-left: -1682px;}
	75%{margin-left: -2522px;}
	88%{margin-left: -2522px;}
	100%{margin-left: 0px;}
}

@-o-keyframes slide{
	0%{margin-left: 0px;}
	13%{margin-left: 0px;}
	25%{margin-left: -840px;}
	38%{margin-left: -840px;}
	50%{margin-left: -1682px;}
	63%{margin-left: -1682px;}
	75%{margin-left: -2522px;}
	88%{margin-left: -2522px;}
	100%{margin-left: 0px;}
}

#featuredArticles{
    width: 838px;
    height: 175px;
    border: 4px solid white;
    background-color: black;
    border-radius: 10px;
    margin: 1.0em 0 0 33em;
}

#featuredArticles h1{
    color: #e86f16;
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
}

.panel{
    border: 2px solid white;
    background-color: #e86f16;
    border-radius: 10px;
    text-align: center;
    width: 225px;
    display: inline-block;
    margin: 0em 0 0em 3.2em;
}

#featuredArticles a, a:visited{
    color:white;
    text-decoration: none; 
}

#featuredArticles a:hover{
    color: black;
    text-decoration: underline;
}

.panel h2{
    color: white;
}

.panel h4{
    color: black;
}

#featuredPodcasts{
    width: 838px;
    height: 250px;
    border: 4px solid white;
    background-color: black;
    border-radius: 10px;
    margin: 1.0em 0 0 33em;
}

#featuredPodcasts h1{
    color: #e86f16;
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
}

.panelTwo{
    text-align: center;
    display: inline-block;
    margin: 0em 0 0.5em 8.5em;
}

.panelTwo img{
    border: 3px solid white;
    border-radius: 10px;
}

.panelTwo h2{
    color: white;
}

.panelTwo h4{
    color: black;
}

#featuredPodcasts a, a:visited{
    color:white;
    text-decoration: none; 
}

#featuredPodcasts a:hover{
    color: #e86f16;
    text-decoration: underline;
}

/*Footer*/
footer{
    background-color: black;
    height: 20px;
    font-size: 1.2em;
    padding: 2.0em;
    text-align: right;
}

footer ul#menuFooter{
    display: inline-block;
    list-style: none;
    margin: 0 0 0 0.6em;
    padding: 0;
    color: white;
}

footer a, footer a:visited{
    color: white;
}

footer a:hover{
    color:#e86f16
}