html, body{
    height: 100%
}

body{
    font-size: 60%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(175, 175, 175);
    height: 100%;
}

.wrapper{
    padding: 0 0 10em 38.0em;
    position: absolute;
    height: 100%;
}

.wrapper2{
    margin: 0;
    padding: 0 37.0em 10em 0;
    position: absolute;
    height: 100%;
}
/* Header */
header{
    width: 100%;
    height: 187px;
    background-color: black;
    border-bottom: solid 4px white;
}

.headerlogo{
    display: flex;
    justify-content: center;
    padding: 13px;
}

.headerlogo img{
    width: 157px;
    max-height: 157px;
}

header nav{
    position: absolute;
    top: 0;
    right: 36.0em;
}

header input{
    font-size: 25px;
    font-weight: bold;
    text-align: right;
    color: #e86f16;
    background-color: black;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-style: hidden;
    position: absolute;
    right: 14.3em;
    top: 150px;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration{ display: none; }

::placeholder{
    color: #e86f16;
    opacity: 0.75;
}

/* NAVS */

nav#socials ul{
    list-style: none;
    padding: 0 1.0em 0.5em;
}

nav#socials li{
    display: inline-block;
}

nav#socials ul li a:hover{
    background-color: black;
    opacity: 0.5;
}

/*Sidebar*/

#sidebar h4{
    color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    margin: 3px 0 0 0;
}

#sidebar{
    width: 300px;
    height: 930px;
    border: solid 4px white;
    border-radius: 10px;
    float: left;
    position: relative;
    background-color: black;
    margin-top: 1.5em;
}

#sidebar ul{
    list-style: none;
    font-size: 35px;
    color: #e86f16;
    text-align: right;
    margin: 0 10px 0 0;
}

#sidebar ul li.topic a:link, ul li.topic a:visited{
    color: #e86f16;
    text-decoration: none;
}

#sidebar ul li.topic a:hover{
    color: white;
    text-decoration: underline;
}

#sidebar .mailinglist{
    background: #e86f16;
    border: solid 2px lightgray;
    position: absolute;
    bottom: 0;
    width: 296px;
}

#sidebar ul#form{
    margin: 3px 0 0 0;
}

#sidebar ul#form input{
    font-size: 20px;
    margin: 0 1.5em 0 -0.8em;
}

#sidebar ul#form button{
    margin: 0 8.5em 0 4.5em;
    color: #e86f16;
    background-color: lightgray;
    font-weight: bold;
    border-radius: 2px;
    border: hidden;
}

/*MAIN*/

#cssSlider{
    width: 838px;
    height: auto;
    overflow: hidden;
    border: 4px solid white;
    border-radius: 10px;
    float: right;
    margin-bottom: 15px;
    margin-top: 1.5em;
}

#sliderImages img{
    max-width: 100%;
    height: auto;
}

.block1text{
    position: absolute;
    bottom: 0;
    left: 0.75em;
}

.block1text h3{
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: black;
}

.block2text{
    position: absolute;
    bottom: 0;
    left: 88.5em;
}

.block2text h3{
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: black;
}

.block3text{
    position: absolute;
    bottom: 0;
    left: 176.0em;
}

.block3text h3{
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: black;
}

.block4text{
    position: absolute;
    bottom: 0;
    left: 263.5em;
}

.block4text h3{
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: black;
}

#sliderImages{
    position: relative;
    width: 5500px;
    height: 475px;
    overflow: hidden;
    animation: slide 30s infinite;
    -moz-animation: slide 30s infinite;
    -webkit-animation: slide 30s infinite;
    -o-animation: slide 30s infinite;
}

@keyframes slide{
	0%{margin-left: 0px;}
	13%{margin-left: 0px;}
	25%{margin-left: -840px;}
	38%{margin-left: -840px;}
	50%{margin-left: -1682px;}
	63%{margin-left: -1682px;}
	75%{margin-left: -2522px;}
	88%{margin-left: -2522px;}
	100%{margin-left: 0px;}
}

@-moz-keyframes slide{
	0%{margin-left: 0px;}
	13%{margin-left: 0px;}
	25%{margin-left: -840px;}
	38%{margin-left: -840px;}
	50%{margin-left: -1682px;}
	63%{margin-left: -1682px;}
	75%{margin-left: -2522px;}
	88%{margin-left: -2522px;}
	100%{margin-left: 0px;}
}
@-webkit-keyframes slide{
	0%{margin-left: 0px;}
	13%{margin-left: 0px;}
	25%{margin-left: -840px;}
	38%{margin-left: -840px;}
	50%{margin-left: -1682px;}
	63%{margin-left: -1682px;}
	75%{margin-left: -2522px;}
	88%{margin-left: -2522px;}
	100%{margin-left: 0px;}
}

@-o-keyframes slide{
	0%{margin-left: 0px;}
	13%{margin-left: 0px;}
	25%{margin-left: -840px;}
	38%{margin-left: -840px;}
	50%{margin-left: -1682px;}
	63%{margin-left: -1682px;}
	75%{margin-left: -2522px;}
	88%{margin-left: -2522px;}
	100%{margin-left: 0px;}
}

#articles h1{
    color: #e86f16;
    font-size: 30px;
    text-decoration: underline;
    margin: 5px 0 0 0;
    text-align: center;
}

#articles{
    width: 838px;
    height: auto;
    background: black;
    border: solid 4px white;
    border-radius: 10px;
    float: right;
}

#articles ul{
    margin: 0;
    padding: 5px 0 5px 0px;
    text-align: center;
}

#articles li{
    display: inline-block;
    padding: 10px;
    text-align: center;
}

#articles li h2{
    color: white;
    font-weight: bold;
    font-size: 18px;
}

#articles li h4{
    font-weight: bold;
    font-size: 12px;
}

.articleTitle{
    width: 30%;
    height: 100px;
    background-color: #e86f16;
    border: 2px solid white;
    border-radius: 10px;
}

#articles ul li.articleTitle a:link, ul li.articleTitle a:visited{
    color: white;
    text-decoration: none;
}

#articles ul li.articleTitle a:hover{
    color: black;
    text-decoration: underline;
}

#podcasts h1{
    color: #e86f16;
    font-size: 30px;
    text-decoration: underline;
    margin: 5px 0 0 0;
    text-align: center;
}

#podcasts{
    width: 838px;
    height: auto;
    background: black;
    border: solid 4px white;
    border-radius: 10px;
    float: right;
    margin: 10px 0 0 0;
}

#podcasts ul{
    margin: 0;
    text-align: center;
    list-style: none;
}

#podcasts li{
    display: inline-block;
    padding: 5px 25px 0 0;
    text-align: center;
}

.podcastLogo{
    border: 2px solid white;
    border-radius: 10px;
}

#podcasts li h3{
    color: white;
    font-weight: bold;
    font-size: 12px;
}

/*Footer*/
footer{
    position: fixed;
    bottom: 0;
    background: black;
    height: auto;
    width: 100vw;
    color: white;
    font-size: 12px;
    border-top: 4px solid white;
}

footer span{
    color: #e86f16;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-content ul{
    list-style: none;
}

.footer-content li{
    display: inline-block;
}

.footer-content ul li.menuItem a:link, ul li.menuItem a:visited{
    color: white;
    text-decoration: none;
}

.footer-content ul li.menuItem a:hover{
    color: #e86f16;
    text-decoration: underline;
}